[submodule "vendor/keras"]
	path = vendor/keras
	url = https://github.com/fchollet/keras.git
[submodule "vendor/dqn"]
	path = vendor/dqn
	url = https://github.com/soumith/deepmind-atari.git
[submodule "vendor/librekinect"]
	path = vendor/librekinect
	url = https://github.com/xxorde/librekinect.git
[submodule "vendor/gopigo"]
	path = vendor/gopigo
	url = https://github.com/DexterInd/GoPiGo.git
